<div id="quote_wrapper">

  <div id="quote_tags">
    <% @quote.tag_list.each do |tag| %>
        <p> #<%= tag %> </p>
    <% end %>
  </div>

  <div class="transparentBox">
    <!--previous quote button-->
    <div id="quote_container_left">
      <a href="<%=previous_quote_path(@quote.id)%>" class="previousIcon"></a>
    </div>

    <!--next quote button-->
    <div id="quote_container_right">
      <a href="<%=next_quote_path(@quote.id)%>" class="nextIcon"></a>
    </div>

    <!--actual quote-->
    <div id="quote_container_top">
      <blockquote><%= @quote.description %></blockquote>
    </div>

    <!--author name-->
    <div id="quote_container_bottom">
      <div id="author_name">
        <h1> @<%= @quote.author_name %> </h1>
      </div>
    </div>

  </div>
</div>