<% content_for :og_metatags do %>
	<!--Facebook OG Meta Tags-->
	<meta property="fb:app_id" 		content="490964707588512" /> 
	<meta property="og:type"   		content="website" />
    <meta property="og:url"    		content="http://www.viadreams.com/quotes/<%= @quote.id %>" /> 
    <meta property="og:title"  		content="<%= @quote.description %>" />
    <meta property="og:description" content="@<%= @quote.author.name %>" />
    <meta property="og:image"  		content="http://www.viadreams.com/assets/made_it_silhouette.png" />
	<meta property="og:site_name" 	content="viadreams.com" />
	<meta property="fb:admins" 		content="15100760" />
<% end %>

<div id="quote_wrapper">
  <div id="quote_tags">
    <% @quote.tag_list.each do |tag| %>
        <p> #<%= tag %> </p>
    <% end %>
  </div>

  <div class="transparentBox">
    <!--previous quote button-->
    <div id="quote_container_left">
      <a href="<%=previous_quote_path(@quote.id)%>" class="previousIcon"></a>
    </div>

    <!--next quote button-->
    <div id="quote_container_right">
      <a href="<%=next_quote_path(@quote.id)%>" class="nextIcon"></a>
    </div>

    <!--actual quote-->
    <div id="quote_container_top">
      <blockquote><%= @quote.description %></blockquote>
    </div>

    <!--author name and social share-->
    <div id="quote_container_bottom">
	  <div id="social_share">
		<fb:like send="false" href="http://www.viadreams.com/quotes/<%= @quote.id %>" layout="button_count" width="450" show_faces="false" colorscheme="light"></fb:like>
	  </div>
      <div id="author_name">
        <h1> @<%= @quote.author.name %> </h1>
      </div>
      <div id="author_pic_thumb_container">
        <a href="#">
          <div id="author_pic_thumb">
            <%= image_tag @quote.author.thumbnail(:thumb) %>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>