<div class="form_well">
  <h2>Add a new author</h2>
  <%= form_for @author, :url => author_path(@author), :html => {:multipart => true} do |f| %>
      <h3>ID: <%= @author.id %></h3>
      <%= f.text_field :name, :placeholder => "Author name", :class => "span5" %>
      <%= f.text_field :slug, :placeholder => "Author slug", :class => "span5" %>
      <%= image_tag(@author.thumbnail(:thumb)) %>
      <%= f.file_field :thumbnail, :class => "span5" %>
      <%= f.submit :class => "btn btn-info", :value => "Update It" %>
  <% end %>
</div>