
<script>
	$(function(){
		var $userAssetsContainer = $('#user_assets_container');
		$userAssetsContainer.imagesLoaded(function(){
			$userAssetsContainer.masonry({
				itemSelector: '.assetBox',
				isAnimated: true,
				isFitWidth: true
			});
		});
	});
</script>

<div id="profile_header">
  <div class="profileContent">
    <img class="profileImage" src="<%=current_user.user_profile.image_path %>">
          <div id="profile_info">
              <h1><%=current_user.user_profile.full_name%></h1>
              <p>//Enter your tagline</p>
              <p>Lives in</p>
              <p>From</p>
              <p>Motivated by </p>
              <p>Passionate about</p>
          </div>
  </div>
</div>

<div class="profileNavBar">
	<%= form_for :asset, :url => upload_user_assets_path, :html => {:multipart => true} do |f| %>
		<%= f.file_field :image %> </br> </br>
		<%= f.submit :class => "button"%>
	<% end %>
</div>
</br></br>

<div id="user_assets_container">
	<% current_user.user_profile.user_assets.each do |asset|%>
		<div class="assetBox">
			<%= image_tag asset.image.url(:pinterest)%>
		</div>
	<% end %>
</div>