<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>IkonBlvd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head%>
</head>

<script>
	$(function(){
		<%= yield :ready %>
	});
</script>

<body>
	<div id="fb-root"></div>
	<div id="container">
		<div class="navbar navbar-fixed-top">
		    <div class="navbar-inner">
		      <div class="container">
		        <a class="brand" href="/index">viadreams</a>
		        <div class="container nav-collapse">
		          	<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li><%= link_to current_user.user_profile.first_name + "#{ }" + current_user.user_profile.last_name, user_profile_path(current_user.user_profile) %></li>
							<li><%= link_to "Sign out", destroy_user_session_path %></li>
						<% end %>
					</ul>
		        </div>
		        <!--/.nav-collapse -->
		      </div>
		    </div>
		  </div>
	
	    <div id="content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
