<!DOCTYPE html>
<html>
<head>
  <title>IkonBlvd</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id="container">
		<div id="header">
			<div class="clearfix" id="pageHead" role="banner">
				<h1 id="pageLogo">
					<a href="<%=index_path%>">ikon.blvd</a>
				</h1>
				<div class="clearfix" id="headNav">
					<div class="left">
					</div>
					<div class="right">
						<ul id="pageNav" role="navigation">
							<% if user_signed_in? %>
							<li><a href="<%=user_profile_path(current_user.user_profile)%>">
								  <img class="header_image" src="<%=current_user.user_profile.image_path%>"/></li>
								</a>	
							<li><%= current_user.user_profile.first_name + "#{ }" + current_user.user_profile.last_name %></li>
							<li><%= link_to "Sign out", destroy_user_session_path %></li>
				            <% end %>
						</ul>
					</div>
				</div>
			</div>
		</div>
	    <div id="content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
