<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en"
      xmlns:og="http://ogp.me/ns#"
      xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
  <title>viadreams</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :og_metatags%>

  <!--GA Tracking code-->
  <%= render :partial => 'layouts/ga' %>
</head>

<script>
	$(function(){
		<%= yield :ready %>
	});
</script>

<body>
	<div id="fb-root"></div>
	<div id="container">
		<div class="navbar navbar-fixed-top">
		    <div class="navbar-inner">
		      <div class="container">
                <div class="brand">
		            <a href="/index"> <%= image_tag "viadreams_stamp_logo.png" %></a>
                </div>
		        <div class="container nav-collapse">
		          	<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li><%= link_to current_user.user_profile.first_name + "#{ }" + current_user.user_profile.last_name, user_profile_path(current_user.user_profile) %></li>
							<li><%= link_to "Sign out", destroy_user_session_path %></li>
						<% end %>
					</ul>
		        </div>
		        <!--/.nav-collapse -->
		      </div>
		    </div>
		  </div>
	
	    <div id="content">
			<%= yield %>
		</div>
	</div>

</body>
</html>
